# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
.terraform.lock.hcl

# SSH keys
ssh-keys/
*.pem

# OS/editor
.DS_Store
.vscode/
*.swp

# Env/secrets
.env
*.env

# Node
node_modules/
coverage/
npm-debug.log*

# Build
dist/
build/
