apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: banking
type: Opaque
stringData:
  MONGO_URI: "mongodb://mongo:27017/banking"
  JWT_SECRET: "REPLACE_WITH_STRONG_RANDOM_SECRET"
  CORS_DOMAIN: "http://<frontend-ip-or-domain>"
  ALLOW_OWNER_BOOTSTRAP: "false"